# local env files
.env*.local
.env

# venv
.venv/
env/

# pycache folders + .pyc files (a bit redundant but wtv)
**/__pycache__/
*.pyc

# token file for YouTube API credentials
token.json

# spotify .cache that contains token 
/.cache/